#boss-bar {
    .window-resize-handle {
        z-index: 1000;
    }

    .window-header{
        position: absolute;
        width: 100%;
        min-height: 100%;
        opacity: 0;
        h1{
            display: none;
        }
        button{
            display: none;
        }
    }

    &:not(:hover) {

        background: transparent;
        border-color: transparent;
        box-shadow: none;

        .window-content {
            backdrop-filter: none;
        }

        .window-header {
            opacity: 0;
        }

        .window-resize-handle {
            opacity: 0;
        }
    }

    border-radius: 0;

    .window-content,
    ul {
        padding: 0;
        margin: 0;
    }

    --bar-container-outer-width: 0px;

    .bar-list-item {
        --bar-font-size: 20px;
        --bar-percent: 0%;
        --bar-font-family: "Times New Roman";

        padding: 0 8px;


        .bar-name {
            font-size: var(--bar-font-size);
            text-align: left;
            color: white;
            filter: drop-shadow(0 0 0.2rem black);
            font-family: var(--bar-font-family, "Times New Roman"), Times, serif;
            padding: 3px;
        }

        .boss-bar-container.classic {
            --bar-height: 20px;
            --bar-temp-color: #7e7e7e;
            --bar-temp-alpha: 0.5;
            height: var(--bar-height);
            max-height: var(--bar-height);
            min-height: var(--bar-height);
            width: 100%;
            position: relative;

            .inner {
                position: absolute;
                width: var(--bar-container-outer-width);
                min-width: var(--bar-container-outer-width);
                max-width: var(--bar-container-outer-width);
                height: 100%;
            }

            border: 1px solid black;


            .bar-component {
                position: absolute;
                width: 100%;
                height: 100%;
                background-repeat: repeat;
                background-position: center;
                overflow: hidden;

                &.bar-bar {
                    transition: width 4s;
                    width: var(--bar-percent);
                    border-right: 1px solid black;
                }

                &.bar-temp {
                    transition: width 1s;
                    transition-delay: 3s;
                    width: var(--bar-percent);

                    .inner {
                        background-color: var(--bar-temp-color);
                        opacity: var(--bar-temp-alpha);
                    }
                }
            }

        }

        .boss-bar-container.matching-images{
            width: 100%;
            position: relative;

            img{
                border: none;

                    width: var(--bar-container-outer-width);
                    min-width: var(--bar-container-outer-width);
                    max-width: var(--bar-container-outer-width);
            }

            .bar-component{
                position: absolute;
                width: 100%;
                height: auto;
                top: 0;
                left: 0;

                &.bar-background {
                    position: relative;
                }

                &.bar-foreground {
                    filter: drop-shadow(0px 0px 5px black);
                }

                
                &.bar-bar {
                    transition: width 4s;
                    width: var(--bar-percent);
                    height: 100%;
                    overflow: hidden;
                }
            }
        }


    }
}