#boss-bar-configuration {
    img {
        max-width: 50px;
        height: 50px;
        object-fit: cover;
        border: none;
        border-radius: 3px;
    }

    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
}