.bossBarName {
  text-align: left;
  font-size: large;
  background: rgba(0, 0, 0, 0.5);
  padding: 3px;
  border-radius: 3px;
}

.bossBarCurrent {
  position: absolute;
  transition: width 1s;
}

.bossBarMax {
  position: absolute;
  transition: width 2s;
}

.bossBar {
  z-index: 1000;
  width: calc(100% - 440px);
}

#bossBarBar {
  z-index: 1000;
  margin-top: 5px;
}