.bossBarName {
  text-align: left;
  font-size: 10px;
  filter: drop-shadow(0 0 0.2rem black);
  font-family:'Times New Roman', Times, serif;
  padding: 3px;
  border-radius: 3px;
}

.bossBarCurrent {
  position: absolute;
  transition: width 4s;
}

.bossBarMax {
  position: absolute;
  transition: width 4s;
}

.bossBar {
  z-index: 1000;
  width: calc(100% - 440px);
}

#bossBarBar {
  z-index: 1000;
  margin-top: 5px;
}